<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">

    <!-- Banner Slider -->
    <div class="banner-slider">
        <div class="slides">
            <% products.forEach(product => { %>
                <a href="/product/<%= product.name %>">
                  <img src="<%= product.images[0].url %>" alt="<%= product.name %>">
                </a>
              <% }) %>              
        </div>
      
        <button class="prev">&#10094;</button>
        <button class="next">&#10095;</button>
      
    </div>
      
    <!-- featured-categories -->
    <section class="featured-categories">
        <h2>Featured Categories</h2>
        <div class="category-grid">
          <% featuredCategories.forEach(cat => { %>
            <div class="category-card">
              <a href="/categories/<%= cat._id %>">
                <img src="/images/categories/<%= cat.name %>.png" alt="<%= cat.name %>">
                <h3><%= cat.name %></h3>
              </a>
            </div>
          <% }) %>
        </div>
      </section>

  </div>



  <script src="/js/script.js"></script>

</body>
</html>
